<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/styles.css">
    <title>CSCB20 - Introduction to Databases and Web Applications</title>
</head>
<body>
    <div class="container">
        <div class = "pagetop">
            <div class="header">
                <h1>CSCB20 - Introduction to Databases and Web Applications</h1>
            </div>
            <div class = "sidebar">
                <nav class = "nav">
                    <ul class = "sidebarul">
                        <li class="baritem">
                            <a href="{{ url_for('index')}}" class="linklistitem">Home</a>
                        </li>
                        <li class="baritem">
                            <a href="{{ url_for('piazza')}}"  class="linklistitem">Piazza</a>
                        </li>
                        <li class="baritem">
                            <a href="{{ url_for('markus')}}" class="linklistitem">Markus</a>
                        </li>
                        <li class="baritem">
                            <a href="{{ url_for('assignments')}}" class="linklistitem">Assignments</a>
                        </li>
                        <li class="baritem">
                            <a href="{{ url_for('anonfeedback')}}" class="linklistitem">Anon Feedback</a>
                        </li>
                        <li class="baritem">
                            <a href="{{ url_for('syllabus')}}" class="linklistitem">Syllabus</a>
                        </li>
                        <li class="baritem">
                            <a href="{{ url_for('lectures')}}" class="linklistitem">Lectures</a>
                        </li>
                        <li class="baritem">
                            <a href="{{ url_for('labs')}}" class="linklistitem">Labs</a>
                        </li>
                        <li class="baritem">
                            <a href="{{ url_for('resources')}}" class="linklistitem">Resources</a>
                        </li>
                        <li class="baritem">
                            <a href="{{ url_for('courseteam')}}" class="linklistitem">Course Team</a>
                        </li>
                        <li class="baritem">
                            <a href="{{ url_for('anonfeedback_instructor')}}" class="linklistitem">View Feedback</a>
                        </li>
    
                    </ul>
                </nav>
            </div>
        </div>
    
        {% block content %}
    
        {% endblock %}    
    </div>


    <footer id="footer">
        <div id="footercontent">
            Check out the Faculty of Computer Science 
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">here.</a>
        </div>
        <div id="footercontent2">
            Website designed by: Shun, Takuya, and Yui
        </div>   
        
    </footer>

</body>
<script type="text/javascript" src="script.js"></script>
</html>
