{% extends 'template.html' %}
{% block content %}

<div class="content">
    <h2 class="subheader">Regrade Requests</h2>
    <p>Here you can check the regrade requests your students have submitted.</p>

    <div class="table">
        <ul class="row">  
            <li class="th">Course</li>
            <li class="th">Assignment</li>    
            <li class="th">Student Name</li>
            <li class="th">Comment</li>    
        </ul>
        {% for single in name_and_regrade %}
            <ul class="row">  
                <li class="td">{{ single[0] }}</li>
                <li class="td">{{ single[1] }}</li>    
                <li class="td">{{ single[2] }}</li>
                <li class="td">{{ single[3] }}</li>    
            </ul>

        {% endfor %}

    </div>

    <p>You can make changes to the grade here.</p>

</div>

{% endblock %}